@page
@model OEScs.Pages.InformationModel
@{
    ViewData["Title"] = "Informationen";
}

<h1>@ViewData["Title"]</h1>

<p>Das Projekt ist Teil einer Bachelorarbeit an der BTU Cottbus-Senftenberg, am Lehrstuhl Internettechnologie</p>

<div>
    <h2>Über meine Wenigkeit</h2>
    <ul>
        <li>Marvin Schröder</li>
        <li>eBusiness B.Sc student</li>
        <li>22 years old</li>
    </ul>
</div>

